<!DOCTYPE html>
<html>
  <head>
    <title>Page title</title>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.5.0/dist/alpine.min.js" defer></script>
  </head>
  <body>
    {% Box as="main", sx={
      padding: [2, 4],
      backgroundColor: 'primary',
      color: 'white'
    } %}
      <div class="{% sx { backgroundColor:'secondary' } %}">Hello world!</div>
      
      {% Button variant="primary" %}
        Primary Button
      {% endButton %}
      
      {% Button variant="secondary" %}
        Secondary Button
      {% endButton %}

      {% Box variant="layout.main", sx={ padding: 6 } %}
        Box
      {% endBox %}
    {% endBox %}
  </body>
</html>
